{% extends 'base.html' %}

{% block content %}

<div class="cart-container">

    <h1 class="cart-title">
        🛒 My Shopping Cart
    </h1>

    {% for item in cart_items %}

    <div class="cart-card">

        <div>

            <h2>{{ item.product.name }}</h2>

            <div class="quantity-box">

    <a href="{% url 'decrease_quantity' item.id %}">
        <button class="qty-btn">-</button>
    </a>

    <span class="qty-number">
        {{ item.quantity }}
    </span>

    <a href="{% url 'increase_quantity' item.id %}">
        <button class="qty-btn">+</button>
    </a>

</div>

        </div>

        <div>

            <h3>
                Price: ₹{{ item.product.price }}
            </h3>

            <p>
                Quantity: {{ item.quantity }}
            </p>

            <h3 style="color:green;">
                Subtotal: ₹{{ item.subtotal }}
            </h3>

            <a href="{% url 'remove_from_cart' item.id %}">
                <button class="remove-btn">
                    Remove
                </button>
            </a>

        </div>

    </div>

    {% endfor %}
    <div class="cart-total">

    <h2>
        Grand Total: ₹{{ total }}
    </h2>

    </div>
    <div class="checkout-section">

        <a href="{% url 'checkout' %}">
            <button class="checkout-btn">
                Proceed To Checkout
            </button>
        </a>

    </div>

</div>

{% endblock %}