/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Body */

body{

    background:#f0f2f5;

}

/* Navbar */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#1877f2;

    color:white;

    padding:15px 50px;

}

.logo{

    font-size:28px;

    font-weight:bold;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:20px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:bold;

}

.nav-links a:hover{

    color:yellow;

}

/* Container */

.container{

    width:80%;

    margin:30px auto;

}

/* Cards */

.post-card{

    background:white;

    margin-bottom:25px;

    padding:20px;

    border-radius:12px;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}

/* Username */

.post-card h3{

    color:#1877f2;

}

/* Paragraph */

.post-card p{

    margin:15px 0;

    line-height:25px;

}

/* Images */

.post-card img{

    width:100%;

    margin-top:15px;

    border-radius:10px;

}

/* Buttons */

button{

    background:#1877f2;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:6px;

    cursor:pointer;

    margin-top:10px;

}

button:hover{

    background:#145dbf;

}

/* Inputs */

input,
textarea{

    width:100%;

    padding:12px;

    margin-top:10px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:6px;

}

/* Comments */

.comment-box{

    background:#f8f8f8;

    padding:10px;

    margin:10px 0;

    border-radius:8px;

}

.comment-box strong{

    color:#1877f2;

}