{% extends 'base.html' %}

{% block content %}

<div class="create-page">

    <div class="create-card">

        <h2>

            <i class="fa-solid fa-pen"></i>

            Edit Post

        </h2>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <textarea
                name="content"
                rows="6"
                required
            >{{ post.content }}</textarea>

            <br><br>

            {% if post.image %}

                <img
                    src="{{ post.image.url }}"
                    style="
                    width:100%;
                    border-radius:15px;
                    margin-bottom:20px;
                    "
                >

            {% endif %}

            <input
                type="file"
                name="image"
            >

            <br><br>

            <button type="submit">

                Save Changes

            </button>

        </form>

    </div>

</div>

{% endblock %}