{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="create-post-page">

    <div class="create-post-card">

        <div class="create-top">

            <div class="icon-circle">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>

            <h1>Create New Post</h1>

            <p>
                Share your thoughts, photos and memories with everyone.
            </p>

        </div>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <label>Caption</label>

            <textarea
                id="caption"
                name="content"
                rows="8"
                maxlength="500"
                placeholder="What's happening today?"
            ></textarea>

            <div class="counter">
                <span id="charCount">0</span>/500
            </div>

            <label>Upload Image</label>

<div class="upload-box">

    <input
        type="file"
        id="imageUpload"
        name="image"
        accept="image/*"
    >

    <label for="imageUpload" class="upload-label">

        <i class="fa-solid fa-cloud-arrow-up"></i>

        <h3>Choose an Image</h3>

        <p>PNG, JPG or JPEG</p>

    </label>

</div>

<div class="preview-area">

    <img id="preview">

</div>

            <button type="submit" class="publish-btn">

                <i class="fa-solid fa-paper-plane"></i>

                Publish Post

            </button>

        </form>

    </div>

</div>

<script>

const upload=document.getElementById("imageUpload");

const preview=document.getElementById("previewImage");

upload.onchange=function(){

const file=this.files[0];

if(file){

preview.src=URL.createObjectURL(file);

preview.style.display="block";

}

};

const textarea=document.getElementById("caption");

const counter=document.getElementById("charCount");

textarea.oninput=function(){

counter.innerHTML=this.value.length;

};

</script>

{% endblock %}